.start.btn.btn-primary
  Start
.game-container
  .upper-box
    

  .text-box
    = text_field_tag nil, nil, id: 'input'

.image-holder
  - @book.words.each_with_index do |word, i|
    = image_tag word.image, id: "#{i}"

.counter
  %h1.one
    1
  %h1.two
    2
  %h1.three
    3
